@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,300italic);

body{
  font-family: 'Lato', sans-serif;
}

.center{
  text-align: center;
}

.ng-invalid.ng-dirty:not('ng-submitted'){
  border-color:red;
}
.ng-valid.ng-dirty:not('ng-submitted'){
  border-color:green;
}

.card{
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: #F5F5F5;
  box-shadow: 0 0 20px #8C8B8B;
}

.card .left-col{
  padding-right: 5px;
}
.card .left-col h1, .card .left-col h2, .card .left-col h3{
  margin-top: 0;
}

.card .right-col{
  padding-left: 5px;
}
